<div class="container flex-colo gap-4 text-center absolute">
    <div class="swiper swiper-initialized swiper-vertical z-0 lg:h-[600px] sm:h-[500px] h-[400px] w-full swiper-backface-hidden">
        <div class="swiper-wrapper" style="transition-duration: 0m
    5; transform: translate3d (0px, -2400px, 0px); transition-delay: 0ms;">
            <swiper-slide>
                <img src="/assets/img/Slide1.png" alt="Slide1" class="w-full h-full object-cover">
            </swiper-slide>
            <swiper-slide>
                <img src="/assets/img/Slide2.png" alt="Slide1">
            </swiper-slide>
            <swiper-slide>
                <img src="/assets/img/Slide3.png" alt="Slide1">
            </swiper-slide>
        <div class="container2 flex-colo gap-4 text-center absolute">
            <h1 class="text-3xl font-semibold md:font-medium text-white">All the assets you need, in one place</h1>
            <p class="text-white sm:text-base text-sm">Shop clothes, accessories, and more from independent sellers around the world</p>
        </div>
        <button class="button" (click)="goToPage('products')">Shop now</button>
    </div>
    </div>
    </div>
